@* homePage Template File *@
@(subbedBoards: Seq[Subscription], boardTitle: String, newPostForm: Form[NewPost], searchForm: Form[SearchQuery])(implicit request: MessagesRequestHeader, flash: Flash)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Create a post</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/addBoardPage.css")">
	</head>
	<body>

        <div class="leftnav">
        	<a href="@routes.UserController.homePage()">Home</a>
        	<a href="@routes.BoardController.popularBoardsPage()">Popular</a>
        	<a href="@routes.BoardController.newestBoardsPage()">New</a>
        	<a href="@routes.UserController.profilePage()">Account</a>
        	<h5>Filter bar</h5>
        	<p id="sub-header">My Subscriptions</p>
        	@for(b <- subbedBoards) {
        		<tr>
        			<td><a href="@routes.BoardController.boardPage(b.title)">@b.title</a></td>
        		</tr>
        	}
        </div>
        <div class="topnav">
        	<nav>
        		@helper.form(action = helper.CSRF(routes.SearchController.searchPage)) {
        			@helper.inputText(searchForm("query"))
        			<input type="submit" value="Search">
        		}
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><a href="@routes.MessageController.messagesPage">Messages</a></li>
        		<li><a href="#">Create</a></li>
        		<li><a href="@routes.UserController.profilePage">Profile</a></li>
        		</ul>
        	</nav>
        </div>

        <div class="main">
        	<div id="add-board-hero">
        		<p id="add-board-header1">Add a Post to @boardTitle</p>
        	</div>
			<div id="add-board-instruction">
			@helper.form(action = helper.CSRF(routes.PostController.addPost(boardTitle))) {
				@helper.inputText(newPostForm("title"))
				@helper.inputText(newPostForm("body"))
				@helper.inputText(newPostForm("link"))
				<input type="submit" value="Submit">
			}
			</div>
		</div>
	</body>
</html>
