@* postPage Template File *@
@(subbedBoards: Seq[Subscription], boards: Seq[Board], searchForm: Form[SearchQuery])(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>All Communities</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/popularBoardsPage.css")">
	</head>
	<body>
        <div class="leftnav">
        	<a href="@routes.UserController.homePage()">Home</a>
        	<a href="@routes.BoardController.newestBoardsPage()">Popular</a>
        	<a href="@routes.BoardController.popularBoardsPage()">New</a>
        	<a href="@routes.UserController.profilePage()">Account</a>
        	<p id="sub-header">My Subscriptions</p>
        	@for(b <- subbedBoards) {
        		<tr>
        			<td><a href="@routes.BoardController.boardPage(b.title)">@b.title</a></td>
        		</tr>
        	}
        </div>
        <div class="topnav">
        	<nav>
        		@helper.form(action = helper.CSRF(routes.SearchController.searchPage)) {
        			@helper.inputText(searchForm("search"),
        				'placeholder -> "Rocket League"
        			)
        			<input type="submit" value="Search">
        		}
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><a href="@routes.BoardController.allBoards">Communities</a></li>
        		<li><a href="@routes.MessageController.messagesPage">Messages</a></li>
        		<li><a href="@routes.BoardController.addBoardPage">Create</a></li>
        		<li><a href="@routes.UserController.profilePage">Profile</a></li>
        		</ul>
        	</nav>
        </div>
        <div class="main">
        	<div class="post">
        		<div class="username">All Communities</div>
        		<div class="posts-background">
        		@for(b <- boards) {
        			<h3 class="title">
        				<a href="@routes.BoardController.boardPage(b.title)">@b.title</a>
        			</h3><hr>
        		}
        		</div>
        	</div>
        </div>
	</body>
</html>