@* postPage Template File *@
@(title: String, desc: String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/boardPage.css")">
	</head>
	<body>
        <div class="leftnav">
        	<a href="@routes.UserController.homePage()">Home</a>
        	<a href="@routes.BoardController.allBoards">Popular</a>
        	<a href="#">New</a>
        	<a href="@routes.UserController.loginPage()">Account</a>
        	<h5>Filter bar</h5>
        	<p id="sub-header">Subscriptions</p>
        </div>
        <div class="topnav">
        	<nav>
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><p>Search bar</p></li>
        		<li><a href="#">Messages</a></li>
        		<li><a href="#">Create</a></li>
        		<li><a href="#">Profile</a></li>
        		</ul>
        	</nav>
        </div>
        <div class="rightnav">
			<p>Have something to say?</p>
			<form action="@routes.UserController.loginPage">
				<button id="create-btn" type="submit" value="Create Post">Create a New Post</button>
			</form>
        </div>
        
        <div class="main">
			<div id="board-hero">
				<h3>Welcome to @title</h3>
				<h3>@desc</h3>
			</div>
			<div id="board-create-post">
			
			</div>
			<div id="board-posts">
				<p>Post</p>
				<p>Post</p>
				<p>Post</p>
				<p>Post</p>
				<p>Post</p>
			</div>
		</div>
	</body>
</html>