@* postPage Template File *@
@(posts: Seq[Post], title: String, desc: String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/boardPage.css")">
	</head>
	<body>
        <div class="leftnav">
        	<a href="@routes.UserController.homePage()">Home</a>
        	<a href="@routes.BoardController.allBoards">Popular</a>
        	<a href="#">New</a>
        	<a href="@routes.UserController.profilePage()">Account</a>
        	<h5>Filter bar</h5>
        	<p id="sub-header">Subscriptions</p>
        </div>
        <div class="topnav">
        	<nav>
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><p>Search bar</p></li>
        		<li><a href="@routes.UserController.messagesPage">Messages</a></li>
        		<li><a href="#">Create</a></li>
        		<li><a href="@routes.UserController.profilePage">Profile</a></li>
        		</ul>
        	</nav>
        </div>
        <div class="rightnav">
			<p>Have something to say?</p>
			<button id="create-btn"><a href="@routes.PostController.addPostPage(title)">Add Post</a></button>
        </div>
        
        <div class="main">
			<div id="board-hero">
				<h3>Welcome to @title</h3>
				<h3>@desc</h3>
			</div>
			<div id="board-posts">
				<tr><th>Recent posts</th></tr>
				@for(p <- posts) {
					<table border="1">
						<tr>
							<th><a href="@routes.PostController.postPage(p.title)">@p.title</a></th>
						</tr>
						<tr>
							<td>@p.body</td>
						</tr>
						<tr>
							<td>@p.link</td>
						</tr>
					</table>
				}
			</div>
		</div>
	</body>
</html>