@* homePage Template File *@
@(subbedBoards: Seq[Subscription], homePosts: Seq[Post], searchForm: Form[SearchQuery])(implicit request: MessagesRequestHeader, flash: Flash)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>funny informative forums: the last page of the internet</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/homePage.css")">
	</head>
	<body>
        <div class="leftnav">
        	<a href="@routes.UserController.homePage()">Home</a>
        	<a href="@routes.BoardController.popularBoardsPage">Popular</a>
        	<a href="@routes.BoardController.newestBoardsPage">New</a>
        	<a href="@routes.UserController.profilePage">Account</a>
        	<p id="sub-header">My Subscriptions</p>
        	@for(b <- subbedBoards) {
        		<tr>
        			<td><a href="@routes.BoardController.boardPage(b.title)">@b.title</a></td>
        		</tr>
        	}
        </div>
        <div class="topnav">
        	<nav>
        		@helper.form(action = helper.CSRF(routes.SearchController.searchPage)) {
        			@helper.inputText(searchForm("query"))
        			<input type="submit" value="Search">
        		}
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><a href="@routes.BoardController.allBoards">Communities</a></li>
        		<li><a href="@routes.MessageController.messagesPage">Messages</a></li>
        		<li><a href="@routes.BoardController.addBoardPage">Create</a></li>
        		<li><a href="@routes.UserController.profilePage">Profile</a></li>
        		</ul>
        	</nav>
        </div>
        <div class="rightnav">
			<p>Looking to start a new community?</p>
			<form action="@routes.BoardController.addBoardPage">
				<button id="create-btn" type="submit" value="Create Board">CREATE</button>
			</form>
        </div>
        <div class="main">
			<div id="home-posts">
				@for(p <- homePosts) {
					<div class="post">
						<h3 class="title">
							<a href="@routes.PostController.postPage(p.title)">@p.title </a>
						</h3>
						<p class="username">
							<a> by <a href="@routes.UserController.userPage(p.posterUsername)">@p.posterUsername</a></a>
						</p>
						<div class="votes">
							<span> Karma: @p.upvotes</span>
							<a href="@routes.PostController.upvotePost(p.title)"><button>UPVOTE</button></a>
							<a href="@routes.PostController.downvotePost(p.title)"><button>DOWNVOTE</button></a>
						</div>
					</div>
				}
			</div>
		</div>
	</body>
</html>
