@* homePage Template File *@
@()(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>funny informative forums: the last page of the internet</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/homePage.css")">
	</head>
	<body>
        <div class="leftnav">
        	<a href="@routes.MockupController.homePage()">Home</a>
        	<a href="#">Popular</a>
        	<a href="#">Top</a>
        	<a href="@routes.MockupController.loginPage()">Account</a>
        	<h5>Filter bar</h5>
        	<p id="sub-header">Subscriptions</p>
        	<p>Board</p>
        	<p>Board</p>
        	<p>Board</p>
        	<p>Board</p>
        </div>
        <div class="topnav">
        	<nav>
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><p>Search bar</p></li>
        		<li><a href="#">Messages</a></li>
        		<li><a href="#">Create</a></li>
        		<li><a href="#">Profile</a></li>
        		</ul>
        	</nav>
        </div>
        <div class="rightnav">
			<p>Looking to start a new community?</p>
			<form action="@routes.MockupController.allBoards">
				<button id="create-btn" type="submit" value="Create Board">CREATE</button>
			</form>
        </div>
        <div id="main">
			<div id="home-posts">
				<p>Post</p>
				<p>Post</p>
				<p>Post</p>
				<p>Post</p>
				<p>Post</p>
				<button id="load-more">View more</button>
			</div>
		</div>
	</body>
</html>