@* homePage Template File *@
@(boards: Seq[Subscription], users: Seq[User], loginForm: Form[Login], userForm: Form[NewUser], searchForm: Form[SearchQuery])(implicit request: MessagesRequestHeader, flash: Flash)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>funny informative forums: the last page of the internet</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/homePage.css")">
	</head>
	<body>
        
        <div class="leftnav">
        	<a href="@routes.UserController.homePage()">Home</a>
        	<a href="@routes.BoardController.popularBoardsPage()">Popular</a>
        	<a href="@routes.BoardController.newestBoardsPage()">New</a>
        	<a href="@routes.UserController.profilePage()">Account</a>
        	<p id="sub-header">My Subscriptions</p>
        	@for(b <- boards) {
        		<tr>
        			<td><a href="@routes.BoardController.boardPage(b.title)">@b.title</a></td>
        		</tr>
        	}
        </div>
        <div class="topnav">
        	<nav>
        		@helper.form(action = helper.CSRF(routes.SearchController.searchPage)) {
        			@helper.inputText(searchForm("query"))
        			<input type="submit" value="Search">
        		}
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><a href="@routes.BoardController.allBoards">Communities</a></li>
        		<li><a href="@routes.MessageController.messagesPage">Messages</a></li>
        		<li><a href="@routes.BoardController.addBoardPage">Create</a></li>
        		<li><a href="@routes.UserController.profilePage()">Profile</a></li>
        		</ul>
        	</nav>
        </div>
        
        <div class="main">
        	<div id="login-hero">
        		<h1 id="login-header1">Funny Informative Forums</h1>
        		<p id="login-subheader1">Your favorite source for humor</p>
        	</div>
       
	    	<div id="login-instructions">
	    		<h3 id="login-header2">Login Form</h3>
	    		<h4 id="login-subheader2">If you have an account, sign in with your credentials.</h4>
	    	</div>
	    	
	    	<div id="login-form">
        		@helper.form(action = helper.CSRF(routes.UserController.login)) {
        			@helper.inputText(loginForm("username"))
        			@helper.inputPassword(loginForm("password"))
        			<input type="submit" name="loginSubmission" value="Login" class="submit-button">
        		}
        	</div>
        
        	<div id="login-new-user">
        		<h3 id="login-header3">New User Form</h3>
        		<h4 id="login-subheader3">New here? Create an account below.</h4>
        	</div>
        
        	@helper.form(action = helper.CSRF(routes.UserController.addUser)) {
        		@helper.inputText(userForm("email"))
        		@helper.inputText(userForm("username"))
        		@helper.inputPassword(userForm("password"))
        		<input type="submit" name="newUserSubmit" value="Create Account" class="submit-button">
        	}
       </div>
	</body>
</html>