@* homePage Template File *@
@(users: Seq[User], loginForm: Form[Login], userForm: Form[NewUser])(implicit request: MessagesRequestHeader, flash: Flash)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>funny informative forums: the last page of the internet</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/homePage.css")">
	</head>
	<body>
        
        <div class="leftnav">
        	<a href="@routes.MockupController.homePage()">Home</a>
        	<a href="#">Popular</a>
        	<a href="#">Top</a>
        	<a href="@routes.MockupController.loginPage()">Account</a>
        	<h5>Filter bar</h5>
        	<p id="sub-header">Subscriptions</p>
        	<p>Board</p>
        	<p>Board</p>
        	<p>Board</p>
        	<p>Board</p>
        </div>
        <div class="topnav">
        	<nav>
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><p>Search bar</p></li>
        		<li><a href="#">Messages</a></li>
        		<li><a href="#">Create</a></li>
        		<li><a href="@routes.MockupController.loginPage()">Profile</a></li>
        		</ul>
        	</nav>
        </div>
        
        <div class="main">
        	<div id="login-hero">
        		<h1 id="login-header1">Funny Informative Forums</h1>
        		<p id="login-subheader1">Your favorite source for humor</p>
        	</div>
       
	    	<div id="login-instructions">
	    		<h3 id="login-header2">Login Form</h3>
	    		<h4 id="login-subheader2">If you have an account, sign in with your credentials.</h4>
	    	</div>
	    	
	    	<div id="login-form">
        		@helper.form(action = helper.CSRF(routes.MockupController.login)) {
        			@helper.inputText(loginForm("username"))
        			@helper.inputPassword(loginForm("password"))
        			<input type="submit" name="loginSubmission" value="Login" class="submit-button">
        		}
        	</div>
        
        	<div id="login-new-user">
        		<h3 id="login-header3">New User Form</h3>
        		<h4 id="login-subheader3">New here? Create an account below.</h4>
        	</div>
        
        	@helper.form(action = helper.CSRF(routes.MockupController.addUser)) {
        		@helper.inputText(userForm("email"))
        		@helper.inputText(userForm("username"))
        		@helper.inputPassword(userForm("password"))
        		<input type="submit" name="newUserSubmit" value="Create Account" class="submit-button">
        	}
       </div>
	</body>
</html>

@*
@boardTemplate("Home", "Login/Signup", 
			Seq("Pictures", "Movies", "Web Applications", "Reddit", "Just Professor Things"), 
			Seq(("HTML core dump. How did this even happen plz help!", "in2deep", "Web Applications"), 
				("A map of Trinity as seen from the moon", "danderson", "Pictures"), 
				("Best Way to Torture Students?", "mlewis", "Just Professor Things"), 
				("Please pay us", "starving_dev", "Reddit"), 
				("[SERIOUS] Don't borrow my stapler", "pmeyers", "Just Professor Things")))
				
*@
				
@*
@boardTemplate("Home", "Login/Signup", 
			Seq("board1", "board2", "board3", "board4", "board5"), 
			Seq(("post1", "user1", "board1"), 
				("post2", "user8", "board3"), 
				("post3", "moderator", "board2"), 
				("post4", "user3", "board1"), 
				("post5", "user2", "board4")))

*@