@* messagingPage Template File *@
@(boards: Seq[Subscription], searchForm: Form[SearchQuery], myUsername: String, friendsUsername: String, myUID: Int, friendsUID: Int, pastMessages: Seq[Message])(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Chat with @friendsUsername</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/messagesPage.css")">
	</head>
	<body>
        <div class="leftnav">
        	<a href="@routes.UserController.homePage()">Home</a>
        	<a href="@routes.BoardController.newestBoardsPage()">Popular</a>
        	<a href="@routes.BoardController.popularBoardsPage()">New</a>
        	<a href="@routes.UserController.profilePage">Account</a>
        	<p id="sub-header">My Subscriptions</p>
        	@for(b <- boards) {
        		<tr>
        			<td><a href="@routes.BoardController.boardPage(b.title)">@b.title</a></td>
        		</tr>
        	}
        </div>
        <div class="topnav">
        	<nav>
        		@helper.form(action = helper.CSRF(routes.SearchController.searchPage)) {
        			@helper.inputText(searchForm("search"),
        				'placeholder -> "Rocket League"
        			)
        			<input type="submit" value="Search">
        		}
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><a href="@routes.BoardController.allBoards">Communities</a></li>
        		<li><a href="@routes.MessageController.messagesPage">Messages</a></li>
        		<li><a href="@routes.BoardController.addBoardPage">Create</a></li>
        		<li><a href="@routes.UserController.profilePage">Profile</a></li>
        		</ul>
        	</nav>
        </div>
        <div class="main">
        	<p class="friendsMessage" id="friendsUname"><a href=@routes.UserController.userPage(friendsUsername)>@friendsUsername</a></p>
			<div id="sendMessages">
					<input type="text" id="msg"><br/>
					<input type="hidden" id="myUID" value=@myUID><br/>
					<input type="hidden" id="friendsUID" value=@friendsUID><br/>
					<button id="sendButton">Send</button>
			</div>
			<div id="profile-messages">
				@for(message <- pastMessages){
					<input type="hidden" class="messages" value="@message.body">
				}
			</div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	@scalajs.html.scripts("FinalProject-client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
</html>
