@* postPage Template File *@
@(boards: Seq[Board])(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Popular Boards</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/popularBoardsPage.css")">
	</head>
	<body>
        <div class="leftnav">
        	<a href="@routes.UserController.homePage()">Home</a>
        	<a href="@routes.BoardController.allBoards">Popular</a>
        	<a href="#">New</a>
        	<a href="@routes.UserController.profilePage()">Account</a>
        	<h5>Filter bar</h5>
        	<p id="sub-header">Subscriptions</p>
        	@for(b <- boards) {
        		<tr>
        			<td><a href="@routes.BoardController.boardPage(b.title, b.description)">@b.title</a></td>
        		</tr>
        	}
        </div>
        <div class="topnav">
        	<nav>
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><p>Search bar</p></li>
        		<li><a href="@routes.UserController.messagesPage">Messages</a></li>
        		<li><a href="#">Create</a></li>
        		<li><a href="@routes.UserController.profilePage">Profile</a></li>
        		</ul>
        	</nav>
        </div>
        <div class="main">
        	<div class="boards">
        		<table border="1">
        			<tr><th>Popular Boards</th></tr>
        			@for(b <- boards) {
        				<tr>
        					<td><a href="@routes.BoardController.boardPage(b.title, b.description)">@b.title</a></td>
        				</tr>
        			}
        		</table>
        	</div>
        </div>
	</body>
</html>