@* postPage Template File *@
@(subbedBoards: Seq[Subscription], comments: Seq[Comment], posterUsername: String, boardTitle: String, title: String, body: String, link: String, searchForm: Form[SearchQuery], commentForm: Form[NewComment])(implicit request: MessagesRequestHeader)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>@title</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/postPage.css")">
	</head>
	<body>
        <div class="leftnav">
        	<a href="@routes.UserController.homePage()">Home</a>
        	<a href="@routes.BoardController.popularBoardsPage()">Popular</a>
        	<a href="@routes.BoardController.newestBoardsPage()">New</a>
        	<a href="@routes.UserController.profilePage()">Account</a>
        	<p id="sub-header">My Subscriptions</p>
        	@for(b <- subbedBoards) {
        		<tr>
        			<td><a href="@routes.BoardController.boardPage(b.title)">@b.title</a></td>
        		</tr>
        	}
        </div>
        <div class="topnav">
        	<nav>
        		@helper.form(action = helper.CSRF(routes.SearchController.searchPage)) {
        			@helper.inputText(searchForm("query"))
        			<input type="submit" value="Search">
        		}
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><a href="@routes.BoardController.allBoards">Communities</a></li>
        		<li><a href="@routes.MessageController.messagesPage">Messages</a></li>
        		<li><a href="@routes.BoardController.addBoardPage">Create</a></li>
        		<li><a href="@routes.UserController.profilePage">Profile</a></li>
        		</ul>
        	</nav>
        </div>
        
        <div class="main">
			<div id="post-hero">
				<h3>@title</h3>
				<h3>@body</h3>
				<h3><a href="@link">@link</a></h3>
				<h3>A post by <a href="@routes.UserController.userPage(posterUsername)">@posterUsername</a></h3>
				<button><a href="@routes.BoardController.boardPage(boardTitle)">Back to @boardTitle</a></button>
			</div>
			<div id="post-comments">
				@for(c <- comments) {
					<table>
						<tr>
							<td><button><a href="@routes.CommentController.upvoteComment(c.id, title)">UPVOTE</a></button><button><a href="@routes.CommentController.downvoteComment(c.id, title)">DOWNVOTE</a></button>
						</tr>
						<tr>
							<td>@c.body</td><td>@c.username</td>
						</tr>
					</table>
				}
			</div>
			<div id="post-comment-form">
				@helper.form(action = helper.CSRF(routes.CommentController.addComment(title))) {
					@helper.inputText(commentForm("body"))
					<input id="comment" type="submit" value="Comment">
				}
			</div>
		</div>
	</body>
</html>