@* homePage Template File *@
@(boards: Seq[Board], searchedBoards: Seq[Board], searchedPosts: Seq[Post], searchedUsers: Seq[User])(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Search Page</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/searchPage.css")">
	</head>
	<body>
        <div class="leftnav">
        	<a href="@routes.UserController.homePage()">Home</a>
        	<a href="@routes.BoardController.allBoards">Popular</a>
        	<a href="#">New</a>
        	<a href="@routes.UserController.profilePage">Account</a>
        	<h5>Filter bar</h5>
        	<p id="sub-header">Subscriptions</p>
        	@for(b <- boards) {
        		<tr>
        			<td><a href="@routes.BoardController.boardPage(b.title, b.description)">@b.title</a></td>
        		</tr>
        	}
        </div>
        <div class="topnav">
        	<nav>
        		<ul>
        		<li><p id="header">Welcome to Funny Informative Forums, the last page of the internet!</p></li>
        		<li><p>Search bar</p></li>
        		<li><a href="@routes.UserController.messagesPage">Messages</a></li>
        		<li><a href="#">Create</a></li>
        		<li><a href="@routes.UserController.profilePage">Profile</a></li>
        		</ul>
        	</nav>
        </div>
        <div class="main">
			<div id="seached-boards">
				<table border="1">
					<th>Communities</th>
					@for(b <- searchedBoards) {
						<tr>
							<td><a href="@routes.BoardController.boardPage(b.title, b.description)">@b.title</a></th>
						</tr>
					}
				</table>
			</div>
			<div id="searched-posts">
				<table border="1">
					<th>Posts</th>
					@for(p <- searchedPosts) {
						<tr>
							<td><a href="@routes.PostController.postPage(p.title)">@p.title</a></td>
						</tr>
					}
				</table>
			</div>
			<div id="searched-posts">
				<table border="1">
					<th>Posts</th>
					@for(u <- searchedUsers) {
						<tr>
							<td><a href="@routes.UserController.userPage(u.username)">@u.username</a></td>
						</tr>
					}
				</table>
			</div>
		</div>
	</body>
</html>
