@* userPage Template File *@
@(username: String)(implicit request: RequestHeader, flash: Flash, messagesProvider: MessagesProvider)

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Your Profile</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/profilePage.css")">
	</head>
	<body>
		<nav>
			<ul>
			<li><a href="http://pandora06.cs.trinity.edu:9005">Home</a></li>
			<li><a href=@routes.MockupController.homePage()">Home</a></li>
			<li><a href="#">New</a></li>
			<li><a href="#">Controversial</a></li>
			<li><a href="#">Top</a></li>
			<li><a href="@routes.MockupController.userPage(username)">Account</a></li>
			</ul>
		</nav>
		
		<div id="profile-hero">
			<h3>Welcome, @username</h3>
			<button>Messages</button>
			<form id="logout" action="@routes.MockupController.logout" method="GET">
				@helper.CSRF.formField
				<input type="submit" value="Logout">
			</form>
			<form id="addBoard" action="@routes.MockupController.allBoards" method="GET">
				@helper.CSRF.formField
				<input type="submit" value="Create new Board">
			</form>
		</div>
		<div id="profile-board-panel">
			<p id="profile-subscription-header">Subscriptions</p><hr>
			<p>Board</p>
			<p>Board</p>
			<p>Board</p>
			<p>Board</p>
			<p>Board</p>
		</div>
		<div id="profile-posts">
			<p id="profile-posts-header">Latest Posts</p><hr>
			<p>Post</p>
			<p>Post</p>
			<p>Post</p>
			<p>Post</p>
			<p>Post</p>
		</div>
	</body>
</html>
